body{
    padding: 0;
    margin: 0;
    background-image: url("lov.webp");

    background-size: cover;
}
.open{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: rgba(78, 21, 3, 0.534);
}
.text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: rgba(214, 3, 14, 0.534);
    display: none;

}
.bo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Pacifico', cursive;
    
    
}
#bot{
    font-size:30px;
    background-color: #4CAF50;
    color:floralwhite;
    border-radius: 30px;
    cursor: pointer;
}
   